body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: rgb(181,81,81);
  background: linear-gradient(90deg, rgba(181,81,81,1) 0%, rgba(9,9,121,1) 33%, rgba(0,212,255,1) 100%);
  font-family: "Tempus Sans ITC";
  font-weight: bold;
}